* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #031335;
}

.container {
    width: 100%;
    display: flex;
}

.dashboard-area-container {
    width: 25%;
}

.dashboard-area {
    position: fixed;
    width: 25%;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.content-area {
    width: 75%;
    margin: 30px;
}

.dashboard-area div p {
    font-size: 26px;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 75px;
}

.logo img {
    height: 100%;
    width: auto;
    margin-right: 20px;
}

.logo p {
    letter-spacing: 2.4px;
    font-size: 26px;
    font-weight: bold;  
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.dashboard a {
    text-decoration: none;
    font-weight: 550;
    font-size: 14px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.information a {
    font-weight: 550;
    font-size: 14px;
}

.dashboard a:hover, .information a:hover {
    color: #F7B176;
    transform: scale(1.05) translateX(5px);
    transition: 0.6s ease-in-out;
}

.search-bar {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.search-box {
    width: 70%;
    height: 50px;
    background-color: #1B1A55;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    margin: 10px;
    outline: none;
    background-color: transparent;
    color: white;
    text-align: center;
    border: none;
}

.search-box img {
    height: 55%;
    width: auto;
    margin-right: 20px;
}

.auto-complete-items {
    position: absolute;
    z-index: 10;
    width: calc(0.95 * 0.75 * 0.7 * 95%);
}

.ac-items { 
    width: 100%;
    background-color: #1B1A55;
    display: flex;
    align-items: center;
    border: 2px solid #4C2BD2;
    box-sizing: border-box;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.ac-items img {
    width: 20%;
    margin: 0 20px;
    border-radius: 25px;
}

.ac-items p {
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.ac-items:hover {
    background-color: #4C2BD2;
}

.ac-items:hover p {
    color: #F7B176;
}

.log-reg-section {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.log-reg-section a {
    text-decoration: none;
    font-size: 20px;
}

.log-reg-section a:hover {
    color: #F7B176;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

.log-reg-section img {
    width: 30%;
    border-radius: 100%;
}

.log-reg-section p:first-of-type {
    font-size: 16px;
    font-weight: bold;
    cursor: default;
}

.log-reg-section p:last-of-type {
    font-size: 20px;
    cursor: pointer;
}

.log-reg-section p:last-of-type:hover {
    color: #F7B176;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

.banner {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-contents {
    width: 100%;
}

.banner1 {
    width: 100%;
}

.banner1 img {
    width: 100%;
}

.selector {
    display: flex;
    width: 100px;
    justify-content: space-between;
    position: relative;
    top: -40px;
}

.dots {
    height: 17.5px;
    width: 17.5px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
}

.active {
    background-color: #4C2BD2;
}

.game-list {
    width: 100%;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #1B1A55;
}

.game-list-selector {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.selection {
    border-radius: 25px;
    background: #535C91;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active-selector {
    background: linear-gradient(to right, rgb(246, 189, 189, 0.7), rgb(255, 230, 230, 0.7));
    border: 3px solid #FFB9B9;
}

.cards {
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
    flex-wrap: wrap;
    transition: 0.35s ease-in-out;
    display: none;
}

.shown {
    display: flex;
}

.card {
    width: 17%;
    border-radius: 25px;
    border: 3px solid #FFE6E6;
    height: 11.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #535C91;
    margin: 30px 0;
    cursor: pointer;
}

.front-img {
    position: absolute;
    width: calc(0.6 * 0.7 * 17%);
    transform: translateY(-30px);
    z-index: 2;
    border-radius: 25px;
    border: 5px solid #FFE6E6;
}

.back-img {
    position: absolute;
    width: calc(0.7 * 17%);
    z-index: 1;
    opacity: 0.1;
    border-radius: 25px;
}

.card p {
    z-index: 2;
    font-size: 0.9vw;
    font-weight: bold;
    text-align: center;
}

.card p:first-of-type {
    font-size: 1vw;
    font-weight: 500;
    margin-top: 6vw;
    margin-bottom: 0.6vw;
}

.footer {
    width: 100%;
    height: 350px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-item:first-of-type {
    width: 30%;
    height: 100%;
}

.footer-item:nth-of-type(2) {
    width: 10%;
}

.footer-item:last-of-type {
    width: 20%;
}

.footer-item:nth-of-type(even) {
    height: 60%;
}

.footer-item:nth-of-type(3) {
    height: 48%;
}

.footer-item:not(:first-of-type) a:hover {
    color: #F7B176;
    transform: scale(1.05) translateX(4px);
    transition: 0.6s ease-in-out;
}

@keyframes typewriter {
    from {
        background-size: 0 200%;
    }
}

@keyframes typewriter2 {
    to {
        background-position: 0 -100%, 0 0;
    }
}

.desc {
    --n: 0;
    color: transparent;
    background: linear-gradient(-90deg, white 5px, transparent 0) 10px 0, linear-gradient(white 0 0) 0 0;
    background-clip: padding-box, text;
    -webkit-background-clip: padding-box, text;
    background-repeat: no-repeat;
    background-size: calc(var(--n)*1ch) 200%;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1.8px;
    animation: typewriter1 calc(var(--n) * 0.3s) steps(var(--n)) forwards, typewriter2 0.7s infinite steps(1);
}

.social-container {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
}

.socials-title {
    font-weight: bold;
    font-size: 24px;
}

.socials {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.socials a {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials a img {
    width: 80%;
    height: 80%;
}

.footer-item-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    height: 80px;
}

.footer-item > a {
    text-decoration: none;
}