* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: #070F2B;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    height: 60px;
    margin: 30px 0;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.logo, .search-bar, .btns {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 10%;
}

.logo img {
    height: auto;
    width: 100%;
}

.search-bar {
    width: 50%;
    background-color: #1B1A55;
}

.search-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
}

.search-bar img {
    height: 50%;
}

.btns {
    width: 20%;
}

.btns button {
    width: 40%;
    height: 100%;
    color: white;
    background-color: transparent;
    font-size: 20px;
    border: none;
}

.btns button:hover p, .dashboard a:hover {
    color: #F7B176;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.dashboard {
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1B1A55;
    height: 200px;
}

.dashboard a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
    height: 50px;
    width: 85%;
}

.content {
    width: 76.5%;
    /* margin-left: -40px; */
}

.banner-1 {
    width: 100%;
}

.banner-1 img {
    width: 100%;
    height: auto;
}

.game-container {
    width: 100%;
    margin-top: 30px;
    padding: 30px 0;
    background-color: #1B1A55;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.game-card {
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

.game-card:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.game-card img {
    width: 100%;
    height: auto;
}

.game-card p {
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.footer {
    width: 100%;
    background-color: #1B1A55;
    margin-top: 50px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top {
    width: 100%;
    height: 350px;
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
}

.footer-top-left {
    width: 40%;
}

.footer-top-left > img {
    width: 25%;
    height: auto;
}

.footer-desc {
    color: white;
    font-size: 14px;
    border: 1px solid white;
    margin: 10px 0;
    padding: 10px;
}

.socials {
    color: white;
    font-size: 16px;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.socials a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    width: 20%;
    text-align: center;
}

.footer-top-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer-top-right div {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer-top-right div p {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-top-right div a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-top-right div a:hover, .socials a:hover, .footer-bot-right a:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    color: #F7B176;
}

hr {
    border: none;
    background-color: white;
    width: 93.25%;
    height: 2px;
    align-self: center;
}

.footer-bot {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    color: white;
    font-size: 16px;
    width: 100%;
}

.footer-bot-left {
    width: 70%;
}

.footer-bot-right {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.footer-bot-right a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}