* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    min-height: 100vh;
}

input, button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.register {
    position: relative;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

.register-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.register-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-between;
}

#back {
    font-size: 2rem;
}

#back:hover {
    cursor: pointer;
}

.register-container {
    position: relative;
    background-color: hsla(0, 0%, 10%, .1);
    border: 2px solid white;
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
    margin: 2rem auto;
}

.register-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.register-form, .register-box {
    display: grid;
}

.register-form {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.register-box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    border-bottom: 2px solid white;
}

.register-icon, .register-eye {
    font-size: 1.25em;
}

.register-input {
    width: 100%;
    padding-block: 0.8rem;
    background: none;
    color: white;
    position: relative;
    z-index: 1;
}

.register-box-input {
    position: relative;
}

.register-label {
    position: absolute;
    left: 0;
    top: 11px;
    font-weight: 500;
    transition: top 0.3s, font-size 0.3s;
}

.register-eye {
    position: absolute;
    right: 0;
    top: 8px;
    z-index: 10;
    cursor: pointer;
}

.error-msg {
    display: flex;
    justify-content: center;;
}

.error-msg p {
    color: red;
    font-weight: 600;
    font-size: 1em;
}

.register-box:nth-child(2) input {
    padding-right: 1.8rem;
}

.register-check, .register-check-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-check {
    margin-bottom: 1.5rem;
}

.register-check-label, .register-forgot {
    font-size: 0.75em;
}

.register-check-group {
    column-gap: 0.5rem;
}

.register-check-input {
    width: 16px;
    height: 16px;
}

.register-forgot {
    color: white;
}

.register-forgot:hover {
    text-decoration: underline;
}

.register-button {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 2rem;
}

.register-login {
    text-align: center;
}

.register-login a {
    color: white;
    font-weight: 500;
}

.register-login a:hover {
    text-decoration: underline;
}

.register-input:focus + .register-label {
    top: -12px;
    font-size: 0.75em;
}

.register-input:not(:placeholder-shown).register-input:not(:focus) + .register-label{
    top: -12px;
    font-size: 0.75em;
}

@media screen and (min-width: 576px) {
    .register {
        justify-content: center;
    }
    .register-container {
        width: 432px;
        padding: 4rem 3rem 3.5rem;
        border-radius: 1.5rem;
    }
    .register-title {
        font-size: 2rem;
    }
}

@media screen and(min-width: 900px) {

}